/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
aside#social {
    background: rgba(255,255,255,0.6);
    width: 200px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor:pointer;
}
ul.social-links {
    display:none;
}
aside#social:hover ul.social-links {
    display: block;
}
 html {
     margin: 0;
     padding: 0;
 }
 header {
     height: 300px;
     background: url(../img/official_header.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 100px 20px 20px 20px;
 }
 .heading {
     background-color: rbga(255,255,255,0.);
     padding: 5px;
 }
 section {
     padding-top: 50px;
     padding-bottom: 25px;
     padding-left: 10px;
     padding-right: 10px;
 }
 footer {
     background: grey;
 }
 section#watch {
     background: yellow;
 }
section#about {
    background: cornflowerblue;
}
section#listen {
    background: violet;
}
video {
    width: 75%;
}
.download-button {
    border: solid 2px black;
    padding: 3px;
    margin:25px;
    }
#listen h2 {
    bottom-margin: 2px;
}