/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

 html {
     margin: 0;
     padding: 0;
 }
 header {
     height: 300px;
     background: url(../img/monkaa_bluemonkey.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 100px 20px 20px 20px;
 }
 h1 {
     background: rbga(255,255,255,0.4);
     padding:5px;
 }
 footer {
     background:grey;
 }
 section#watch {
     background:yellow;
 }
section#about {
    background:cornflowerblue;
}
section#listen {
    background:purple;
}